<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LigaBotonera</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LigaBotonera.styles.css" asp-append-version="true" />
</head>
<body class="bg-gray-50 dark:bg-emerald-900 transition-colors duration-200">
    <partial name="@PartialViewId.Sidebar" />
    <div id="main-content" class="sidebar-transition md:ml-64">
        <partial name="@PartialViewId.Header" />
        <main class="p-4 md:p-6">
            @RenderBody()
        </main>
    </div>
    <div id="overlay" class="fixed inset-0 bg-black/50 z-30 hidden md:hidden"></div>
    
    <partial name="@PartialViewId.ModalContainer" />

    <script src="~/js/htmx.min.js" asp-append-version="true"></script>
    <script defer src="~/js/alpine.min.js" asp-append-version="true"></script>
    <script defer src="~/js/sidebar.js" asp-append-version="true"></script>
    <script defer src="~/js/menu.js" asp-append-version="true"></script>

    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @{
        var token = Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['RequestVerificationToken'] = '@token';
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>