@model LookupGridViewModel
@{
    int totalItems = Model.Items.Count;
}

<div class="bg-white dark:bg-emerald-800 rounded-lg shadow-xl border border-slate-200 dark:border-emerald-700 overflow-hidden">
@if (totalItems == 0)
{
    <div class="p-3 text-xs text-black bg-amber-100 rounded-b-lg">
        Nenhum registro encontrado.
    </div>
}
else
{
    <div class="max-h-60 overflow-y-auto p-1" tabindex="-1">
        <table class="w-full cursor-pointer">
            <thead class="sticky top-0 bg-white dark:bg-emerald-800 z-10">
                <tr class="text-left border-b border-gray-200 dark:border-emerald-700">
                @foreach (LookupGridColumnViewModel column in Model.Columns)
                {
                    <th class="pb-3 px-2 text-xs font-bold text-slate-600 dark:text-emerald-400 uppercase @column.CssClass">
                        @column.Header
                    </th>
                }
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-emerald-700">
            @foreach (dynamic item in Model.Items)
            {
                string itemId = Model.IdSelector(item).ToString();
                string itemName = Model.NameSelector(item);

                    <tr @(totalItems == 1 ? "data-single-row=true" : "")
                        data-id="@itemId"
                        data-name="@itemName"
                        x-on:click="onSelectedItem('@itemId', '@itemName')"
                        class="hover:bg-gray-100 dark:hover:bg-emerald-700/50 transition-colors">
                    @foreach (LookupGridColumnViewModel column in Model.Columns)
                    {
                        <td class="px-2 py-2 text-sm text-slate-800 dark:text-white @column.CssClass">
                            @column.ValueSelector(item)
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
}
</div>