@page
@model LigaBotonera.Pages.Clubs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club.State)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Club.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
